/* resets */
body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}


body {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
    background-color: #151b1d;
    font-size: 16px;
    color: #ecf2f4;
  }